<template>
	<div class="list-categories">
		<p><strong>Категории</strong></p>
		<div class="form-group" v-for="category in categories" :key="category.id" @click="selectCategory(category)">
			{{category.title}}
		</div>
	</div>
</template>

<script>
	export default {
		name: "ListCategories",
		data() {
			return {
				categories: [
					{
						id: 1,
						title: 'Категория 1'
					},
					{
						id: 2,
						title: 'Категория 2'
					},
					{
						id: 3,
						title: 'Категория 3'
					}
				]
			};
		},
		methods: {
			selectCategory: function (category) {
				this.$emit('filter', category.id);
			}
		}
	}
</script>