<template>
	<div class="list-news">
		<h5>Выбрана категория: <span>{{category}}</span></h5>
		<div class="news-item" v-for="item in models" :key="item.id">
			<h3>
				<router-link :to="{name: 'article', params: {id: item.id}}">
					{{item.title}}
				</router-link>
			</h3>
			<div v-if="item.image">
				<img :src="item.image" style="max-width: 300px">
			</div>
			<p>{{item.description}}</p>
		</div>
	</div>
</template>

<script>

	export default {
		name: "ListNews",
		props: ['category'],
		data() {
			return {
				models: [
					{
						id: 1,
						title: 'Test 1',
						categoryId: 1,
						description: 'sjdkfjsldkfjlsd'
					},
					{
						id: 2,
						title: 'Test 2',
						categoryId: 2,
						description: 'sjdkfjsldkfjlsd'
					}
				],
			};
		},
		watch: {
			'category'() {
				console.log(this.category)
			}
		}
	}
</script>

<style scoped>

</style>