<template>
	<div id="app">

		<div class="container">
			<!-- Основной шаблон -->
			<!-- если будешь всё удалять в этом шаблоне, не забудь оставить <router-view> :)-->
			<section>
				<main>
					<router-view/>
				</main>

			</section>
		</div>

	</div>
</template>

<script>
	export default {
		name: "app"
	}
</script>