<template>
	<section class="login">
		<h1>Авторизация</h1>

		<form class="login-form" @submit.prevent="login">
			<div class="form-group">
				<label>
					<input type="email" class="form-control" placeholder="email" v-model="email">
				</label>
				<div class="error" v-if="$v.email.$anyError && !$v.email.required">Заполните «Email».</div>
				<div class="error" v-if="$v.email.$anyError && !$v.email.email">Некорректный Email.</div>
			</div>
			<div class="form-group">
				<label>
					<input type="password" class="form-control" placeholder="Пароль" v-model="password">
				</label>
				<div class="error" v-if="$v.password.$anyError && !$v.password.required">Заполните «Пароль».</div>
				<div class="error" v-if="result">{{result}}</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Войти</button>
			</div>
		</form>
	</section>
</template>

<script>
	import HTTP from "../components/http";
	import {required, email} from "vuelidate/src/validators";

	export default {
		name: "Login",
		data() {
			return {
				email: '',
				password: '',
				result: ''
			};
		},
		validations: {
			email: {
				required,
				email
			},
			password: {
				required
			}
		},
		methods: {
			login() {
				this.$v.$touch();
				if (!this.$v.$invalid) {
					this.auth();
				}
			},
			auth() {
				this.result = '';

				HTTP.post('/site/login', {
					email: this.email,
					password: this.password
				}).then((response) => {
					localStorage.setItem('user', JSON.stringify(response.data));
				}, (error) => {
					this.result = error.response.data.password;
				});
			}
		}
	}
</script>

<style>
	.error {
		position: relative;
		top: -5px;
		font-size: 12px;
		color: red;
	}
</style>