<template>
	<section class="news">
		<h1>Новости</h1>
		<div class="row">
			<div class="col-md-8">
				<ListNews v-bind:category="categoryId"></ListNews>
			</div>
			<div class="col-md-4">
				<ListCategories @filter="onFilter"></ListCategories>
			</div>
		</div>
	</section>
</template>

<script>
	import ListNews from "../components/ListNews";
	import ListCategories from "../components/ListCategories";

	export default {
		name: "News",
		components: {ListCategories, ListNews},
		data() {
			return {
				categoryId: null
			};
		},
		methods: {
			onFilter: function (data) {
				this.categoryId = data;
			}
		}
	}
</script>
